<section class="todoapp">
	<header class="header">
		<h1>Login</h1>
        <%= form_tag(sessions_path) do %>
          <%= text_field_tag :email, '', class: "new-todo", placeholder: "Enter email..." %>
          <%= text_field_tag :password, '', class: "new-todo", placeholder: "Enter password..." %>
          <%= submit_tag '', style: "display: none" %>
        <% end %>
	</header>
	
	<footer class="footer">
	</footer>
</section>